.Choosebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 53px;
  border-radius: 20px;
  border: none;
  background-color: #8338ec;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.Choosebutton:hover {
  background-color: #b588f4;
}
