.columns {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .columns {
    display: flex;
    gap: 52px;
    margin-inline: auto;
    width: fit-content;
    margin-top: 79px;
    margin-bottom: 152px;
    flex-direction: column;
}
  /* .lines Line:last-child {
    gap: 0;
  }
   */

